<!DOCTYPE html>
<html>
<head>
<title>Language Translation Tool</title>
</head>
<body>
<h2>Language Translation Tool</h2>

<form method="POST">
<textarea name="text" rows="5" cols="50" placeholder="Enter text"></textarea><br><br>

<label>Source Language:</label>
<select name="source">
<option value="en">English</option>
<option value="te">Telugu</option>
<option value="hi">Hindi</option>
</select>

<label>Target Language:</label>
<select name="target">
<option value="te">Telugu</option>
<option value="en">English</option>
<option value="hi">Hindi</option>
</select>

<button type="submit">Translate</button>
</form>

<h3>Translated Text</h3>
<textarea id="output" rows="5" cols="50">{{ translated_text }}</textarea><br>

<button onclick="copyText()">Copy</button>

<script>
function copyText(){
const text=document.getElementById("output");
text.select();
document.execCommand("copy");
alert("Copied!");
}
</script>

</body>
</html>
